@model IEnumerable<MyCompu.Models.Producto>

@{
    ViewData["Title"] = "Carrito de Compras";
}

<h1>Carrito de Compras</h1>

@if (!Model.Any())
{
    <p>No hay productos en el carrito.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        <img src="@Url.Content(item.Url)" alt="@Html.DisplayFor(modelItem => item.Nombre)" width="100" height="100" />
                    </td>
                </tr>
            }
        </tbody>
    </table>


<form asp-action="Confirmar" method="post">
    <button type="submit" class="btn btn-primary">Confirmar Compra</button>
</form>
}